:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --clr-light: hsl(48, 100%, 99%);
  --clr-mid: hsl(40, 100%, 94%);
  --clr-dark: #252525;
  --clr-accent: hsl(30 95% 60%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: currentColor;
}
a:hover {
  text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: .5rem;
  min-height: 100vh;
  
  background-color: hsl(23, 7%, 24%);
}

h1, h2 {
  line-height: 1.2;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

nav {
  display: flex;
  gap: 1rem;
  font-size: .875rem;
}
nav a {
  opacity: .375;
  transition: opacity 250ms;
}
nav a:hover,
nav a.active {
  opacity: 1;
}

.wrapper {
  width: min(540px, 100vw - 1rem);

  background-color: var(--clr-mid);
  border: 6px solid var(--clr-light);
  border-radius: 1rem;
  box-shadow: 0 0 12px hsl(0 0% 0% / .25);

  overflow: hidden;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 1;
}
.site-header__logo {
  font-size: 1.5rem;
  font-weight: 900;
}
.site-header__nav {
  margin-bottom: .125em;
}


.hero {
  position: relative;
  z-index: 0;
  color: var(--clr-light);
  background-image: url("./assets/alessandro-erbetta-RPcIkOzN0iQ-unsplash.jpg");
  background-size: cover;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: hsl(0 0% 0% / .5);
}
.hero__heading {
  margin-top: 5rem;
  font-size: 2.25rem;
  font-weight: 700;
}
.hero__copy {
  margin-top: 1rem;
}
.hero__cta {
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}

.site-footer {
  font-size: .875rem;
  text-align: center;
  color: var(--clr-light);
  background-color: var(--clr-dark);
}

.image-top {
  width: 100%;
  aspect-ratio: 3 / 1;
}

.padded {
  padding: 1.5rem;
}
.accent {
  padding: 2rem;
  background-color: var(--clr-accent);
  border-radius: .25rem;
}

.flow > * + * {
  margin-top: 1.25em;
}

.cta, .btn {
  display: inline-block;
  width: 100%;
  padding: 1rem 1.5rem;

  font: inherit;
  font-weight: 700;
  text-align: center;

  background-color: var(--clr-accent);
  color: var(--clr-light);
  border-radius: .375rem;
  border: none;
  cursor: pointer;
}
.cta:hover, .btn:hover {
  text-decoration: none;
}
.btn {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.text-center {
  text-align: center;
}

.separator {
  height: 1px;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 1rem;
  margin-bottom: 2rem;
}

.van-item .badge {
  margin-top: .75rem;
}
.van-item a:hover {
  text-decoration: none;
}
.van-item__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: .5rem;
}
.van-item__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: .5rem;
  margin-top: .75rem;
}
.van-item__name,
.van-item__price {
  line-height: 1;
}
a:hover .van-item__name {
  text-decoration: underline;
}
.van-item__price {
  text-align: right;
}
.van-item__price > span {
  font-weight: 400;
  font-size: .75rem;
}


.badge {
  padding: .25rem .75rem;
  max-width: max-content;

  font-size: .75rem;
  font-weight: 400;
  text-transform: capitalize;

  background-color: hsl(40, 30%, 74%);
  border-radius: .25rem;
  color: var(--clr-dark);
}
.badge--luxury,
.badge--simple,
.badge--rugged {
  color: var(--clr-light);
}
.badge--luxury {
  background-color: var(--clr-dark);
}
.badge--simple {
  background-color: coral;
}
.badge--rugged {
  background-color: seagreen;
}

.van .badge {
  margin-top: 1.5rem;
}
.van .cta {
  margin-block: 2rem;
}
.van__image {
  border-radius: .5rem;
}
.van__name,
.van__price {
  font-weight: 700;
}
.van__name {
  margin-top: 1rem;
  font-size: 2rem;
}
.van__price {
  margin-top: .25rem;
  font-size: 1.25rem;
}
.van__price span {
  font-weight: 400;
  font-size: .875rem;
}
.van__description {
  margin-top: 1rem;
}

.host-van-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.host-van-item__inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.host-van-item__image {
  width: 75px;
  aspect-ratio: 1 / 1;
  border-radius: .25rem;
  overflow: hidden;
}
.host-van-item__name {
  font-size: 1.125rem;
}
.host-van-item__price {
  font-weight: 500;
  opacity: .75;
}

.host-van {
  margin-bottom: 2rem;
  border-radius: .5rem;
}
.host-van__top {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}
.host-van__top-content {
  flex: 3 0 max-content;
}
.host-van__image {
  flex: 1 0 40%;
  border-radius: .25rem;
  overflow: hidden;
}
.host-van__name,
.host-van__price {
  font-weight: 700;
}
.host-van__name {
  margin-top: 1rem;
}
.host-van__price {
  margin-top: .25rem;
}
.host-van__price span {
  font-weight: 400;
  font-size: .875rem;
}

.host-van-pricing span {
  font-weight: 700;
  font-size: 1.5rem;
}
.host-van-photo {
  width: 75px;
  border-radius: .25rem;
}

.back-link {
  display: inline-block;
  font-size: .875rem;
  font-weight: 500;
  opacity: .5;
}
.back-link:hover {
  opacity: 1;
}

.subnav {
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid hsl(0 0% 0% / .25);
}

.van-list-filter {
  display: flex;
  gap: .5rem;
  align-items: center;
  flex-wrap: wrap;
}

.filter-button {
  background: none;
  border: none;
  cursor: pointer;
  opacity: .5;
}
.filter-button--active {
  opacity: 1;
}

.clear-filters-button {
  padding: .25rem .75rem;

  font-weight: 600;
  text-decoration: underline;
  line-height: 1;

  background: none;
  border: none;
  cursor: pointer;
  opacity: .75;
}